<!DOCTYPE html>
<html>
<head>
  <title>Create New coin page</title>
</head>
<body>

  <h1>Creat a new coin</h1>
  <form action="/coins" method="POST">
    Type:<input type="text" name="name"><br>
    Content:<input type="text" name="content"><br>
    Design:<input type="text" name="design"><br>
    <button type="submit">Create new coin</button><br>
  </form>

</body>
</html>